

<!-- Central Modal Small -->
<div class="modal fade" id="notice_create_modal" tabindex="-1" role="dialog" aria-labelledby="noticecreatemodal"
  aria-hidden="true">

  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-xl modal-notify modal-warning" role="document">


    <div class="modal-content">
      <div class="modal-header ">
        <h4 class="modal-title w-100" id="myModalLabel">Create a new Notice</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12 col-md-12 grid-margin">


            <p class="display4 text-dark"> Notice Information</p>
                  <form class="form-sample" action="" method="POST" enctype="multipart/form-data">
                   <p class="text-danger"> {{ form.non_field_errors.as_text}}</p>

                    {% csrf_token %}
                     {{ form.media }}
                     <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Title</label>
                          <div class="col-sm-9">
                              <p class="text-danger">{{ form.title.errors }}</p>
                           {{ form.title }}

                          </div>
                        </div>
                      </div>
                         <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Status</label>
                          <div class="col-sm-9">
                              <p class="text-danger">{{ form.status.errors }}</p>
                           {{ form.status }}

                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Body</label>
                          <div class="col-sm-9">
                              <p class="text-danger">{{ form.body.errors }}</p>
                            {{ form.body }}
                          </div>
                        </div>
                      </div>
                    </div>

            </div>
           <input type="hidden" name="previous" value="{{request.get_full_path}}" />
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
        <button type="reset" class="btn btn-outline-warning btn-icon-text">
          <i class="mdi mdi-reload btn-icon-prepend"></i>Reset</button>

        <button type="submit" class="btn btn-outline-success btn-icon-text">
                          <i class="mdi mdi-file-check btn-icon-prepend"></i>
                          Create
                        </button>
      </div>

                  </form>

    </div>
  </div>
</div>

<!-- Central Modal Small -->