{% extends 'base.html' %}
{% block create %}
<button  data-toggle="modal" data-target="#notice_create_modal" type="button" class="btn btn-info font-weight-bold">+ Create New</button>
{% endblock create %}
{% block body %}

<div class="card mt-3">
    <div class="card-body">
                  <h4 class="card-title">Notice Lists</h4>

                  <div class="table-responsive pt-3">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Title
                          </th>
                          <th>
                            Status
                          </th>
                          <th>
                            Created
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for object in object_list %}
                        <tr>
                          <td>
                            {{object.title}}
                          </td>
                          <td>
                            {{ object.get_status_display }}
                          </td>

                            <td>
                                 {{object.created}}
                           </td>

                        </tr>
                      {% empty %}
                      <p>No Content yet !</p>
                      {% endfor %}


                      </tbody>
                    </table>
                  </div>
                </div>
    </div>

{% include 'notice_create_modal.html' %}
{% endblock body %}