

.modal-fluid{width:100%;max-width:100%}
.modal-full-height{position:absolute;top:0;right:0;display:-webkit-box;display:-ms-flexbox;display:flex;width:400px;height:auto;min-height:100%;margin:0}
.modal-bottom{bottom:0}
.modal-bottom{bottom:0}
.modal-bottom{display:block;width:100%;max-width:100%;height:auto}
.modal-bottom{top:auto;min-height:0}
.form-control{background-color:#b9b9b978;}