

<!-- Central Modal Small -->
<div class="modal fade" id="teacher_update_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-lg modal-notify modal-warning" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Update Teacher Information</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12 grid-margin">
            <p class="display4 text-dark"> Teacher Information</p>
                  <form class="form-sample" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Name</label>
                          <div class="col-sm-9">
                           {{ form.name}}
                          </div>
                        </div>
                      </div>
                     <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Designation</label>
                          <div class="col-sm-9">
                           {{ form.designation }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">School ID</label>
                          <div class="col-sm-9">
                            {{ form.school_id }}
                          </div>
                        </div>
                      </div>

                        <div class="col-md-6">
                        <div class="form-group">
                          <label class="col-form-label">School Name : <span class="mt-0 font-weight-bold blue-text">{{ object.school_name }}</span> </label>

                        </div>
                      </div>
                    </div>
                   <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Image</label>
                          <div class="col-sm-9">
                            {{ form.image }}
                          </div>
                        </div>
                      </div>
               <div class="col-md-6 text-right">
                <img height="80%" width="40%" class="rounded-circle avatar " src="{{object.image.url}}" alt="Avatar">
                </div>
                </div>
            </div>
<!--          for redirect to same page-->
                 <input type="hidden" name="previous" value="{{request.get_full_path}}" />
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
        <button type="reset" class="btn btn-outline-warning btn-icon-text">
          <i class="mdi mdi-reload btn-icon-prepend"></i>Reset</button>

        <button type="submit" class="btn btn-outline-success btn-icon-text">
                          <i class="mdi mdi-file-check btn-icon-prepend"></i>
                          Save
                        </button>
      </div>

                  </form>

    </div>
  </div>
</div>

<!-- Central Modal Small -->