{% extends 'course_material_base.html' %}

{% block content_list %}
      <div class="card mt-3">
        <div class="col-12 card-body ">

            <p class="display3 text-dark"> Update Content Information</p>
            <hr>
                  <form class="form-sample" action="" method="POST" enctype="multipart/form-data">
                   <p class="text-danger"> {{ form.non_field_errors.as_text}}</p>

                    {% csrf_token %}
                     {{ form.media.js }}
                     <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Class</label>
                          <div class="col-sm-9">
                              <p class="text-danger">{{ form.class_name.errors }}</p>
                           {{ form.class_name }}

                          </div>
                        </div>
                      </div>
                     <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Subject</label>
                          <div class="col-sm-9">
                              <p class="text-danger">{{ form.subject.errors }}</p>
                           {{ form.subject }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Unit</label>
                          <div class="col-sm-9">
                              <p class="text-danger">{{ form.unit.errors }}</p>
                            {{ form.unit }}
                          </div>
                        </div>
                      </div>

                  <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Unit Title</label>
                          <div class="col-sm-9">
                              <p class="text-danger">{{ form.unit_name.errors }}</p>
                            {{ form.unit_name }}
                          </div>
                        </div>
                      </div>

                    </div>

                      <hr>
                      <div class="row">



                     <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Content</label>
                          <div class="col-sm-9">
                              <p class="text-danger">{{ form.content.errors }}</p>
                            {{ form.content }}
                          </div>
                        </div>
                      </div>
                    </div>



      <div class="modal-footer">
          <a class="btn btn-outline-secondary" href="javascript:window.history.back()">Cancel</a>
         <button type="reset" class="btn btn-outline-warning btn-icon-text">
          <i class="mdi mdi-reload btn-icon-prepend"></i>Reset</button>
        <button type="submit" class="btn btn-outline-success btn-icon-text">
                          <i class="mdi mdi-file-check btn-icon-prepend"></i>
                          save
                        </button>
      </div>

                  </form>

    </div>
  </div>

<!-- Central Modal Small -->
    {% endblock content_list %}

