{% extends 'base.html' %}
{% block create %}
<button  data-toggle="modal" data-target="#course_material_create_modal" type="button" class="btn btn-info font-weight-bold">+ Create New</button>
{% endblock create %}
{% block body %}


 <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">

          <h4 class="display4">Course List List</h4>

          <hr>
    {% for class in classes %}
 <ul class="nav nav-tabs" id="myTab" role="tablist">

  <li class="nav-item">
    <a class="nav-link active" id="class-{{class.name}}-tab" data-toggle="tab" href="#class-{{class.name}}" role="tab" aria-controls="class-{{class.name}}"
      aria-selected="true">Class {{class.name}}</a>
  </li>

</ul>
{% endfor %}
<div class="tab-content" id="myTabContent">
{% for class in classes %}
  <div class="tab-pane fade show active" id="class-{{class.name}}" role="tabpanel" aria-labelledby="class-{{class.name}}-tab">
 



  </div>
{% endfor %}

        </div>
      </div>
    </div>

 </div>
{% include 'course_material_create_modal.html' %}
{% endblock body %}