{% extends 'routine_base.html' %}


{% block routine_list %}

<div class="card mt-5">
    <div class="card-body">




<!-- Central Modal Small -->

            <p class="display4 text-center text-dark"> Update Routine</p>


    <div class="">


      <div class="modal-body">
        <div class="col-12 grid-margin">


            <p class="display4 text-dark"> Schedule Information</p>
                  <form class="form-sample" action="" method="POST" enctype="multipart/form-data">
                    <p class="text-danger"> {{ form.non_field_errors.as_text}}</p>

                    {% csrf_token %}
                     {{ form.media.js }}
                     <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Class</label>
                          <div class="col-sm-9">
                             <p class="text-danger">{{ form.class_name.errors.as_text }}</p>
                           {{ form.class_name }}

                          </div>
                        </div>
                      </div>
                     <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Subject</label>
                          <div class="col-sm-9">
                              <p class="text-danger">{{ form.subject.errors.as_text }}</p>
                           {{ form.subject }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Day</label>
                          <div class="col-sm-9">
                               <p class="text-danger">{{ form.day.errors.as_text }}</p>
                            {{ form.day }}
                          </div>
                        </div>
                      </div>



                    </div>

                      <hr>
                      <div class="row">


                        <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Start Time</label>
                          <div class="col-sm-9">
                              <small>{{ object.start_time|time:"H:i A"  }}</small>
                           <p class="text-danger">{{ form.start_time.errors.as_text }}</p>
                            {{ form.start_time }}
                          </div>
                        </div>
                      </div>

                     <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">End Time</label>
                          <div class="col-sm-9">
                               <small>{{ object.end_time|time:"H:i A"  }}</small>
                               <p class="text-danger">{{ form.end_time.errors.as_text }}</p>
                              {{ form.end_time }}
                          </div>
                        </div>
                      </div>
                    </div>
            </div>
      <div class="modal-footer">
          <a class="btn btn-outline-secondary" href="javascript:window.history.back()">Cancel</a>
        <button type="reset" class="btn btn-outline-warning btn-icon-text">
          <i class="mdi mdi-reload btn-icon-prepend"></i>Reset</button>

        <button type="submit" class="btn btn-outline-success btn-icon-text">
                          <i class="mdi mdi-file-check btn-icon-prepend"></i>
                          Create
                        </button>
      </div>

                  </form>



<!-- Central Modal Small -->
                </div>
    </div>
{% endblock routine_list %}