{% extends 'routine_base.html' %}


{% block routine_list %}

<div class="card mt-5">
    <div class="card-body">
                  <h4 class="card-title">Class : {{class_name}}</h4>

                  <div class="table-responsive pt-3">
                    <table class="table table-striped">
                          {% for day in days %}
                      <thead>
                        <tr>
                          <th>
                                {{ day }}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            {% for object in day.routine_set.all %}
<!--                            filtering by class name from all routines-->
                             {% if class_name == object.class_name.name %}
                          <td>
                             {{object.subject.name}}
                            <a href="{% url 'class_routine:update_routine' class_name=class_name pk=object.pk %}">
                                 <i class="icon-square-check bg-danger"></i><small>Edit</small> </a> <br>

                              <small>({{object.start_time|time:"H:i A"}} - {{ object.end_time|time:"H:i A"}})</small>

                          </td>

                              {% endif %}
                            {% endfor %}
                        </tr>
                         {% empty %}
                      <p>No routine yet !</p>



                      </tbody>
                            {% endfor %}
                    </table>
                  </div>
                </div>
    </div>
{% endblock routine_list %}