{% extends 'routine_base.html' %}


{% block routine_list %}

<div class="card mt-5">
    <div class="card-body">
                  <h4 class="card-title">Class : {{class_name}}</h4>

                  <div class="table-responsive pt-3">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Day
                          </th>
                          <th>
                            Subject
                          </th>
                          <th>
                            Start Time
                          </th>
                          <th>
                            End Time
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for object in object_list %}
                        <tr>
                          <td>
                            {{object.day.name}}
                          </td>
                          <td>
                            {{ object.subject.name }}
                          </td>
                          <td>


                          {{ object.start_time }}
                          </td>
                            <td>
                                 {{object.end_time}}


                           </td>

                        </tr>
                      {% empty %}
                      <p>No routine yet !</p>
                      {% endfor %}


                      </tbody>
                    </table>
                  </div>
                </div>
    </div>
{% endblock routine_list %}