{% extends 'base.html' %}

{% block body %}
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-12 mb-4 mb-xl-0">
              <h4 class="font-weight-bold text-dark">Hi, welcome back!</h4>
              <p class="font-weight-normal mb-2 text-muted">APRIL 1, 2019</p>
            </div>
          </div>


<!-- Nav tabs -->
<ul class="nav nav-tabs md-tabs nav-justified primary-color" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#panel555" role="tab">
      Classes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#panel666" role="tab">
      <i class="fas fa-heart pr-2"></i>Follow</a>
  </li>
</ul>
<!-- Nav tabs -->

<!-- Tab panels -->
<div class="tab-content">

  <!-- Panel 1 -->
  <div class="tab-pane fade in show active" id="panel555" role="tabpanel">

    <!-- Nav tabs -->
    <div class="row">
      <div class="col-md-3">
        <ul class="nav md-pills pills-primary flex-column" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab">Class One </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel2" role="tab">Class Two </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel3" role="tab"> Class Three </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel4" role="tab"> Class Four </a>
          </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel5" role="tab"> Class Five </a>
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <!-- Tab panels -->
        <div class="tab-content vertical">
          <!-- Panel 1 -->
          <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
            <h5 class="my-2 h5">Panel 1</h5>
          </div>
          <!-- Panel 1 -->
          <!-- Panel 2 -->
          <div class="tab-pane fade" id="panel2" role="tabpanel">
            <h5 class="my-2 h5">Panel 2</h5>
          </div>
          <!-- Panel 2 -->
          <!-- Panel 3 -->
          <div class="tab-pane fade" id="panel3" role="tabpanel">
            <h5 class="my-2 h5">Panel 3</h5>
          </div>
          <!-- Panel 3 -->
          <!-- Panel 4 -->
          <div class="tab-pane fade" id="panel4" role="tabpanel">
            <h5 class="my-2 h5">Panel 4</h5>
          </div>
          <!-- Panel 4 -->
          <!-- Panel 5 -->
          <div class="tab-pane fade" id="panel5" role="tabpanel">
            <h5 class="my-2 h5">Panel 4</h5>
          </div>
          <!-- Panel 4 -->
        </div>
      </div>
    </div>
    <!-- Nav tabs -->

  </div>
  <!-- Panel 1 -->

  <!-- Panel 2 -->
  <div class="tab-pane fade" id="panel666" role="tabpanel">

    <p class="pt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta
      doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat
      ratione porro voluptate odit minima.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
      reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione
      porro voluptate odit minima.</p>

  </div>
  <!-- Panel 2 -->

</div>
<!-- Tab panels -->

        </div>
{% endblock body %}